<a href="https://colab.research.google.com/github/songqsh/foo1/blob/master/src/21d2210midterm_a_p2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simplex method

In [1]:
# import package
import numpy as np
import numpy.linalg as la
float_formatter = "{:.2f}".format
np.set_printoptions(formatter={'float_kind':float_formatter})
import pandas as pd

## Pivotizing

Pivotizing with $(i,j)$-entry means converting the matrix by multiple EROS so that the resulting matrix has all zeros in $j$-column, but one in $(i,j)$-entry. This is the key step in updating basic feasible solution.

In [2]:
#pivotize with (i,j)
def pivot(A, i, j):
  A[i] = A[i]/A[i,j] #scale to get one in (i,j)
  n_rows, _ = A.shape
  for k in range(n_rows):
    if k==i:
      continue # skip i-row
    A[k] = A[k] - A[i]*A[k,j] # replacement to get zero

## Initial tableau

In [3]:
A = np.array([[1, -1, -2., -1., 0., 0, 0],
              [0, 1, 1, 0, 1, 0, 6],
              [0, 0, 1, 1, 0, 1, 8]])
n_row, n_col = A.shape

print('tableau has ' + str(n_row) + ' rows and ' + str(n_col) + ' columns')
pd.DataFrame(A)

tableau has 3 rows and 7 columns

     0    1    2    3    4    5    6
0  1.0 -1.0 -2.0 -1.0  0.0  0.0  0.0
1  0.0  1.0  1.0  0.0  1.0  0.0  6.0
2  0.0  0.0  1.0  1.0  0.0  1.0  8.0

In [4]:
bv = [4, 5] #set bv
print('bvs are: \n')
print(bv)
#optimal test and pivot column
r0 = list(A[0])
print(r0)
min_value = min(r0)
if min_value >= 0:
  print('done')
else:
  print('continue')
  pivot_col = r0.index(min_value)
  print('pivot column is ' + str(pivot_col))

bvs are:

[4, 5]
[1.0, -1.0, -2.0, -1.0, 0.0, 0.0, 0.0]
continue
pivot column is 2

In [5]:
#minimum ratio test and pivot row
min_ratio = 10000.0 #big number
pivot_row = 100 #big integer
for i in range(1,n_row):
  if A[i,pivot_col] >0:
    now_ratio = A[i, -1]/A[i, pivot_col]
    if now_ratio < min_ratio:
      min_ratio = now_ratio
      pivot_row = i
print('pivot row is ' + str(pivot_row))
pivot(A, pivot_row,pivot_col)

pivot row is 1

Current tableau

In [6]:
print(pd.DataFrame(A))

     0    1    2    3    4    5     6
0  1.0  1.0  0.0 -1.0  2.0  0.0  12.0
1  0.0  1.0  1.0  0.0  1.0  0.0   6.0
2  0.0 -1.0  0.0  1.0 -1.0  1.0   2.0

In [7]:
bv = [2, 5] #set bv
print('bvs are: \n')
print(bv)
#optimal test and pivot column
r0 = list(A[0])
print(r0)
min_value = min(r0)
if min_value >= 0:
  print('done')
else:
  print('continue')
  pivot_col = r0.index(min_value)
  print('pivot column is ' + str(pivot_col))

bvs are:

[2, 5]
[1.0, 1.0, 0.0, -1.0, 2.0, 0.0, 12.0]
continue
pivot column is 3

In [8]:

#minimum ratio test and pivot row
min_ratio = 10000.0 #big number
pivot_row = 100 #big integer
for i in range(1,n_row):
  if A[i,pivot_col] >0:
    now_ratio = A[i, -1]/A[i, pivot_col]
    if now_ratio < min_ratio:
      min_ratio = now_ratio
      pivot_row = i
print('pivot row is ' + str(pivot_row))
pivot(A, pivot_row,pivot_col)

pivot row is 2

Current tableau

In [9]:
pd.DataFrame(A)

     0    1    2    3    4    5     6
0  1.0  0.0  0.0  0.0  1.0  1.0  14.0
1  0.0  1.0  1.0  0.0  1.0  0.0   6.0
2  0.0 -1.0  0.0  1.0 -1.0  1.0   2.0

In [10]:
bv = [1, 3, 5, 8] #set bv
print(bv)
#optimal test and pivot column
r0 = list(A[0])
print(r0)
min_value = min(r0)
if min_value >= 0:
  print('done')
else:
  print('continue')
  pivot_col = r0.index(min_value)
  print('pivot column is ' + str(pivot_col))

#minimum ratio test and pivot row
min_ratio = 10000.0 #big number
pivot_row = 100 #big integer
for i in range(1,n_row):
  if A[i,pivot_col] >0:
    now_ratio = A[i, -1]/A[i, pivot_col]
    if now_ratio < min_ratio:
      min_ratio = now_ratio
      pivot_row = i
print('pivot row is ' + str(pivot_row))
pivot(A, pivot_row,pivot_col)

[1, 3, 5, 8]
[1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 14.0]
done
pivot row is 2

Current tableau

In [11]:
A

array([[1.00, 0.00, 0.00, 0.00, 1.00, 1.00, 14.00],
       [0.00, 1.00, 1.00, 0.00, 1.00, 0.00, 6.00],
       [0.00, -1.00, 0.00, 1.00, -1.00, 1.00, 2.00]])

In [12]:
bv = [2, 3, 5, 8] #set bv
print('bvs are: \n')
print(bv)
#optimal test and pivot column
r0 = list(A[0])
print(r0)
min_value = min(r0)
if min_value >= 0:
  print('done')
else:
  print('continue')
  pivot_col = r0.index(min_value)
  print('pivot column is ' + str(pivot_col))

bvs are:

[2, 3, 5, 8]
[1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 14.0]
done

## Conclusion

The optimal solution for the dual problem is 
$$x = (0, 2.5, 7.5, 0), z = 90.$$
Indeed, in the original diet problem, the optimal solution is by eating no brownies, 3 oz ice cream, 1 cola, no pineapples, which yields minimum cost 90.