<a href="https://colab.research.google.com/github/songqsh/foo1/blob/master/src/21d2210midterm_p_p2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simplex method

In [1]:
# import package
import numpy as np
import numpy.linalg as la
float_formatter = "{:.2f}".format
np.set_printoptions(formatter={'float_kind':float_formatter})
import pandas as pd

## Pivotizing

Pivotizing with $(i,j)$-entry means converting the matrix by multiple EROS so that the resulting matrix has all zeros in $j$-column, but one in $(i,j)$-entry. This is the key step in updating basic feasible solution.

In [9]:
#pivotize with (i,j)
def pivot(A, i, j):
  A[i] = A[i]/A[i,j] #scale to get one in (i,j)
  n_rows, _ = A.shape
  for k in range(n_rows):
    if k==i:
      continue # skip i-row
    A[k] = A[k] - A[i]*A[k,j] # replacement to get zero

## Initial tableau

In [10]:
A = np.array([[1, -2, -1, -2., 0, 0, 0],
              [0, 1., 1, 0, 1.0, 0, 10.],
              [0, 1, 0, 2, 0, 1, 16]])
n_row, n_col = A.shape

print('tableau has ' + str(n_row) + ' rows and ' + str(n_col) + ' columns')
pd.DataFrame(A)

tableau has 3 rows and 7 columns

     0    1    2    3    4    5     6
0  1.0 -2.0 -1.0 -2.0  0.0  0.0   0.0
1  0.0  1.0  1.0  0.0  1.0  0.0  10.0
2  0.0  1.0  0.0  2.0  0.0  1.0  16.0

In [11]:
bv = [4, 5] #set bv
print('bvs are: \n')
print(bv)
#optimal test and pivot column
r0 = list(A[0])
print(r0)
min_value = min(r0)
if min_value >= 0:
  print('done')
else:
  print('continue')
  pivot_col = r0.index(min_value)
  print('pivot column is ' + str(pivot_col))

bvs are:

[4, 5]
[1.0, -2.0, -1.0, -2.0, 0.0, 0.0, 0.0]
continue
pivot column is 1

In [12]:
#minimum ratio test and pivot row
min_ratio = 10000.0 #big number
pivot_row = 100 #big integer
for i in range(1,n_row):
  if A[i,pivot_col] >0:
    now_ratio = A[i, -1]/A[i, pivot_col]
    if now_ratio < min_ratio:
      min_ratio = now_ratio
      pivot_row = i
print('pivot row is ' + str(pivot_row))
pivot(A, pivot_row,pivot_col)

pivot row is 1

Current tableau

In [13]:
pd.DataFrame(A)

     0    1    2    3    4    5     6
0  1.0  0.0  1.0 -2.0  2.0  0.0  20.0
1  0.0  1.0  1.0  0.0  1.0  0.0  10.0
2  0.0  0.0 -1.0  2.0 -1.0  1.0   6.0

In [14]:
bv = [1, 5] #set bv
print('bvs are: \n')
print(bv)
#optimal test and pivot column
r0 = list(A[0])
print(r0)
min_value = min(r0)
if min_value >= 0:
  print('done')
else:
  print('continue')
  pivot_col = r0.index(min_value)
  print('pivot column is ' + str(pivot_col))

bvs are:

[1, 5]
[1.0, 0.0, 1.0, -2.0, 2.0, 0.0, 20.0]
continue
pivot column is 3

In [15]:

#minimum ratio test and pivot row
min_ratio = 10000.0 #big number
pivot_row = 100 #big integer
for i in range(1,n_row):
  if A[i,pivot_col] >0:
    now_ratio = A[i, -1]/A[i, pivot_col]
    if now_ratio < min_ratio:
      min_ratio = now_ratio
      pivot_row = i
print('pivot row is ' + str(pivot_row))
pivot(A, pivot_row,pivot_col)

pivot row is 2

Current tableau

In [16]:
pd.DataFrame(A)

     0    1    2    3    4    5     6
0  1.0  0.0  0.0  0.0  1.0  1.0  26.0
1  0.0  1.0  1.0  0.0  1.0  0.0  10.0
2  0.0  0.0 -0.5  1.0 -0.5  0.5   3.0

In [17]:
bv = [1, 3] #set bv
print(bv)
#optimal test and pivot column
r0 = list(A[0])
print(r0)
min_value = min(r0)
if min_value >= 0:
  print('done')
else:
  print('continue')
  pivot_col = r0.index(min_value)
  print('pivot column is ' + str(pivot_col))

[1, 3]
[1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 26.0]
done