<a href="https://colab.research.google.com/github/songqsh/foo1/blob/master/src/transport_tableau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transport problem
From Section 8.1 - tableau

In [1]:
# import package
import numpy as np
import numpy.linalg as la
float_formatter = "{:.2f}".format
np.set_printoptions(formatter={'float_kind':float_formatter})
import pandas as pd

## Pivotizing

Pivotizing with $(i,j)$-entry means converting the matrix by multiple EROS so that the resulting matrix has all zeros in $j$-column, but one in $(i,j)$-entry. This is the key step in updating basic feasible solution.

In [2]:
#pivotize with (i,j)
def pivot(A, i, j):
  A[i] = A[i]/A[i,j] #scale to get one in (i,j)
  n_rows, _ = A.shape
  for k in range(n_rows):
    if k==i:
      continue # skip i-row
    A[k] = A[k] - A[i]*A[k,j] # replacement to get zero

## Simplex tableau

In [3]:
def newpivot(M):
  optimal_test = min(M[0, range(1,6)])
  if optimal_test<0:
    pivot_col = np.argmin(M[0])
  else:
    print(f'pass the optimal test')
    return(0)
  ratio_list = np.divide(M[range(1,m+1),-1], M[range(1, m+1),pivot_col])
  ratio_list[ratio_list<0]=0
  if np.min(ratio_list)==np.inf or np.min(ratio_list)<=0:
    print(f'no leaving variable, here is the ratio list {ratio_list}')
    return(0)
  else:
    pivot_row = np.argmin(ratio_list)+1
  return(pivot_row, pivot_col)

In [5]:

A = np.array([[1., 1., 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], 
              [0., 0., 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
              [0., 0., 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0], 
              [1., 0., 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
              [0., 1., 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0],
              [0., 0., 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0],
              [0., 0., 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1]])
b = np.array([75., 125, 100, 80, 65, 70, 85])

MM=1000
c = np.array([-464., -513, -654, -867, -352, -416,
              -690, -791, -995, -682, -388, -685, 
              -MM, -MM, -MM, -MM, -MM, -MM, -MM])
m, n = A.shape
print(f'coefficient matrix is \n {A}')
print(f'right hand side vector is \n {b}')
print(f'coefficient of objective function is \n {c}')
print(f'n is {n} and m is {m}')

coefficient matrix is
 [[1.00 1.00 1.00 1.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 1.00 0.00
  0.00 0.00 0.00 0.00 0.00]
 [0.00 0.00 0.00 0.00 1.00 1.00 1.00 1.00 0.00 0.00 0.00 0.00 0.00 1.00
  0.00 0.00 0.00 0.00 0.00]
 [0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 1.00 1.00 1.00 1.00 0.00 0.00
  1.00 0.00 0.00 0.00 0.00]
 [1.00 0.00 0.00 0.00 1.00 0.00 0.00 0.00 1.00 0.00 0.00 0.00 0.00 0.00
  0.00 1.00 0.00 0.00 0.00]
 [0.00 1.00 0.00 0.00 0.00 1.00 0.00 0.00 0.00 1.00 0.00 0.00 0.00 0.00
  0.00 0.00 1.00 0.00 0.00]
 [0.00 0.00 1.00 0.00 0.00 0.00 1.00 0.00 0.00 0.00 1.00 0.00 0.00 0.00
  0.00 0.00 0.00 1.00 0.00]
 [0.00 0.00 0.00 1.00 0.00 0.00 0.00 1.00 0.00 0.00 0.00 1.00 0.00 0.00
  0.00 0.00 0.00 0.00 1.00]]
right hand side vector is
 [75.00 125.00 100.00 80.00 65.00 70.00 85.00]
coefficient of objective function is
 [-464.00 -513.00 -654.00 -867.00 -352.00 -416.00 -690.00 -791.00 -995.00
 -682.00 -388.00 -685.00 -1000.00 -1000.00 -1000.00 -1000.00 -1000.00
 -1000.00 -1000.00]
n is 19 and m is 7

In [27]:
M1 = np.append(np.zeros([m,1]), A, axis=1)
M2 = np.append([1], c)
M = np.append([M2], M1, axis=0)
pd.DataFrame(M)

    0      1      2      3      4   ...      15      16      17      18      19
0  1.0 -464.0 -513.0 -654.0 -867.0  ... -1000.0 -1000.0 -1000.0 -1000.0 -1000.0
1  0.0    1.0    1.0    1.0    1.0  ...     0.0     0.0     0.0     0.0     0.0
2  0.0    0.0    0.0    0.0    0.0  ...     0.0     0.0     0.0     0.0     0.0
3  0.0    0.0    0.0    0.0    0.0  ...     1.0     0.0     0.0     0.0     0.0
4  0.0    1.0    0.0    0.0    0.0  ...     0.0     1.0     0.0     0.0     0.0
5  0.0    0.0    1.0    0.0    0.0  ...     0.0     0.0     1.0     0.0     0.0
6  0.0    0.0    0.0    1.0    0.0  ...     0.0     0.0     0.0     1.0     0.0
7  0.0    0.0    0.0    0.0    1.0  ...     0.0     0.0     0.0     0.0     1.0

[8 rows x 20 columns]

In [28]:
npivot = newpivot(M)
while npivot != 0:
  print(f'new pivot is {npivot}')
  if npivot is not 0:
    pivot(M, npivot[0], npivot[1])
    print(pd.DataFrame(M))
    print(f'=======================')
    npivot = newpivot(M)

new pivot is (2, 13)
   0   1   2   3   4    5    6    7    8   ...  11  12  13   14  15  16  17  18  19
0 NaN NaN NaN NaN NaN  inf  inf  inf  inf  ... NaN NaN NaN  inf NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN -inf -inf -inf -inf  ... NaN NaN NaN -inf NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN  inf  inf  inf  inf  ... NaN NaN NaN  inf NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN  NaN  NaN  NaN  NaN  ... NaN NaN NaN  NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN  NaN  NaN  NaN  NaN  ... NaN NaN NaN  NaN NaN NaN NaN NaN NaN
5 NaN NaN NaN NaN NaN  NaN  NaN  NaN  NaN  ... NaN NaN NaN  NaN NaN NaN NaN NaN NaN
6 NaN NaN NaN NaN NaN  NaN  NaN  NaN  NaN  ... NaN NaN NaN  NaN NaN NaN NaN NaN NaN
7 NaN NaN NaN NaN NaN  NaN  NaN  NaN  NaN  ... NaN NaN NaN  NaN NaN NaN NaN NaN NaN

[8 rows x 20 columns]
=======================
pass the optimal test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in true_divide

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in true_divide

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in multiply